.list__header{

}
.list__title{

}
.list__add{

}
.cards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
width:fit-content;
gap: 1rem;
/* align-items: center; */
justify-content: center;
margin: auto 10%;
}